<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-gb"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en-gb"><![endif]--><!--[if gt IE 8]>
<!-- --><html lang="en-gb" class="no-js"><![endif]-->
<head>
	<meta charset="UTF-8">
<!--
	  -------------------------------------
	  mySociety (http://www.mysociety.org/)
	  -------------------------------------
-->
	<meta name="creator" content="http://www.mysociety.org/">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="description" content="mySociety, A social enterprise that makes people powerful by building tools for the public, government, councils and organisations.">
	
	<title>Thank you for your donation to mySociety</title>
	
	<link rel="stylesheet" href="../style.css" type="text/css" media="screen, print" charset="utf-8">
	<link rel="stylesheet" href="../print.css" type="text/css" media="print" charset="utf-8">
	  
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<script src="../js/libs/modernizr-2.5.3.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://use.typekit.com/bth0qpr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="mysociety-org" class="productpage">
	
	<header class="header">
		<h1 class="logo"><a href="/">mySociety</a></h1>
	</header>
	
	<div id="content">
			
			
			
			
			<article>
				<header class="section_intro">
				<div class="images">
					<ul class="slider">
						<li><a href="../img/myf-kitten.jpg"><img src="../img/myf-kitten.jpg" alt=""></a></li>
					</ul>
				</div>
				
				<hgroup>
					<h2>Thank you for your&nbsp;donation!</h2>
					<h3>Enjoy the warm fuzzy feeling inside</h3>
				</hgroup>
				
				<p>Your transaction has been completed, and a receipt for your purchase has been emailed to you. If you have a paypal account, you view details in your account at <a href="http://www.paypal.com">www.paypal.com</a>.</p>
				<p>Numerous independent studies have shown conclusively that donations to mySociety are effective in:</p>
				<ul>
					<li>helping to combat climate change</li>
					<li>increasing the happiness of whales, baby seals and kittens</li>
					<li>preventing baldness</li>
				</ul>
				<p>So please&hellip; take a little time to pat yourself on the back. Maybe you could have a nice cup of tea and a sit down.
<br><strong>You've earned it.</strong></p>
				
				<p style="opacity:0.7;"><br><em style="font-size:0.8em;">Photo by <a href="http://www.flickr.com/photos/mockduck/7197395586/in/photostream/">Myfanwy Nixon</a></em></p>
			</header>
			
			
								
			</article>
			
			

		
		
		
		
	</div>
	
	<footer class="footer">
		<section>

			<nav id="footer_links">
				<ul>
					<li><a class="logo" href="#">mySociety</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">jobs</a></li>
				</ul>
			</nav>

			<div id="footer_blurb">
				<p>We build websites that give the public simple, tangible ways to connect with and improve their society. As well as offering tools directly to the public we provide integration and development services for local authorities, corporates and government. As a UK Charity our own work has a national focus but our vision is global,  we open source our projects and encourage international adaptation.</p>
			</div>

		</section>
	</footer>
	
	
	<script src="../js/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.hoverintent.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../js/FancyZoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/FancyZoomHTML.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">$(document).ready(function() {
		setupZoom();
	});
	</script>
	
</body>
</html>