<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-gb"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en-gb"><![endif]--><!--[if gt IE 8]>
<!-- --><html lang="en-gb" class="no-js"><![endif]-->
<head>
	<meta charset="UTF-8">
<!--
	  -------------------------------------
	  mySociety (http://www.mysociety.org/)
	  -------------------------------------
-->
	<meta name="creator" content="http://www.mysociety.org/">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="description" content="mySociety, A social enterprise that makes people powerful by building tools for the public, government, councils and organisations.">
	
	<title>FixMyStreet from mySociety</title>
	
	<link rel="stylesheet" href="../style.css" type="text/css" media="screen, print" charset="utf-8">
	<link rel="stylesheet" href="../print.css" type="text/css" media="print" charset="utf-8">
	  
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<script src="../js/libs/modernizr-2.5.3.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body id="mysociety-org" class="productpage for_orgs fms">
	
	<header id="header">
		<h1 class="logo"><a href="homepage.html">mySociety</a></h1>
	</header>
	
	<div id="content">
		
		<article class="products">
			
			<header>
				
				<ul class="screenshots">
					<li><img src="../img/fms-opensource.png" alt=""></li>
				</ul>
				
				<hgroup>
					<h2>Get your own <strong>FixMyStreet</strong></h2>
				</hgroup>
				
				<p>A website in a box ready to setup in your own country. Benefit from our experience instead of reinventing the wheel, </p>
				
			</header>
			
			<section class="product-facets">
				
				<ul><li>
						<h3>Get the code</h3>
						<p>We offer a version of FixMyStreet designed specifically for local authority websites.</p>
						<p><a class="btn fms" href="#">Learn about <strong>FixMyStreet for Orgs</strong></a></p>
					</li><li>
						<h3>Read the documentation</h3>
						<p>We offer a version of FixMyStreet designed specifically for local authority websites.</p>
						<p><a class="btn fms" href="#">Learn about <strong>FixMyStreet for Orgs</strong></a></p>
					</li><li>
						<h3>Get in-touch</h3>
						<p> Have a look at the code and guides and set an instance up in your own country.</p>
						<p><a class="btn fms" href="#">Learn about the <strong>FixMyStreet Platform</strong></a></p>
					</li></ul>
				
			</section>
			
			
		</article>
		
		
		
		
	</div>
	
	<footer id="footer">
		<section>

			<nav id="footer_links">
				<ul>
					<li><a class="logo" href="#">mySociety</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">jobs</a></li>
				</ul>
			</nav>

			<div id="footer_blurb">
				<p>We build websites that give the public simple, tangible ways to connect with and improve their society. As well as offering tools directly to the public we provide integration and development services for local authorities, corporates and government. As a UK Charity our own work has a national focus but our vision is global,  we open source our projects and encourage international adaptation.</p>
			</div>

		</section>
	</footer>
	
	
	<script src="../js/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.hoverintent.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../js/FancyZoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/FancyZoomHTML.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">$(document).ready(function() {
		setupZoom();
	});
	</script>
	
</body>
</html>