<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-gb"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en-gb"><![endif]--><!--[if gt IE 8]>
<!-- --><html lang="en-gb" class="no-js"><![endif]-->
<head>
	<meta charset="UTF-8">
<!--
	  -------------------------------------
	  mySociety (http://www.mysociety.org/)
	  -------------------------------------
-->
	<meta name="creator" content="http://www.mysociety.org/">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="description" content="mySociety, A social enterprise that makes people powerful by building tools for the public, government, councils and organisations.">
	
	<title> FixMyStreet for Councils - mySociety </title>
	
	<link rel="stylesheet" href="../style.css" type="text/css" media="screen, print" charset="utf-8">
	<link rel="stylesheet" href="../print.css" type="text/css" media="print" charset="utf-8">
	  
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<script src="../js/libs/modernizr-2.5.3.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body id="mysociety-org" class="productpage for_orgs fms">
	
	<header id="header">
		<h1 class="logo"><a href="homepage.html">mySociety</a></h1>
	</header>
	
	<div id="content">
		
		<article class="product">
			
			<header>
				
				<ul class="screenshots">
					<li><a href="../img/fms/barnet-report.png"><img src="../img/fms/barnet-report.png" alt=""></a></li>
				</ul>
				
				<hgroup>
					<h2><strong>FixMyStreet</strong> for Councils</h2>
					<h3>Shift your problem reporting online</h3>
				</hgroup>
				
				<p>FixMyStreet is an award-winning street issue reporting and mapping application.
					When integrated directly with councils systems, local authorities can reduce waste and improve customer satisfaction. FixMyStreet will help you reduce costs by moving citizen contact online, eliminating manual data entry, and reducing duplicate reports. As a cloud-based service, it is cost- effective, highly customisable and simple to implement.</p>
				
			</header>
			
			
			<div class="action">
				<p><a href="#"><strong>Get in-touch with Kristina</strong> to talk about getting your own custom version of FixMyStreet</a></p>
			</div>
			
			
			<section class="product-options">
				
				<ul><li>
						<h3>Key Features</h3>
						<p>You’ll have technical support from our talented team of developers and a real person you can pick up a phone and call instead of fighting with a faceless call centre.</p>
						<p><a class="btn fms" href="#key_features">Read <strong>Key Features</strong></a></p>
					</li><li>
						<h3>Pricing Options</h3>
						<p>Prices range from <strong>£?????</strong> for a branded version of FixMyStreet; to <strong>£??????</strong> for a fully CRM integrated site and mobile apps.<br/>&nbsp;</p>
						<p><a class="btn fms" href="#pricing_options">View <strong>Pricing Options</strong></a></p>
					</li><li>
						<h3>Case Studies</h3>
						<p> An A4 PDF with a breakdown of all the facts, prices and contact information you'll need to make a decision.<br/>&nbsp;</p>
						<p><a class="btn fms" href="#download_datasheet"><strong>Download the Datasheet</strong> (PDF)</a></p>
					</li></ul>
				
			</section>
			
			
			<section class="product-options-features">
				<h3>Features <em>All backed by our famously friendly and responsive support team.</em></h3>
				
				<ul><li>
						<h4>Core Features:</h4>
						<a href="../img/fms/TEMP-fms-dashboard.png"><img src="../img/fms/TEMP-fms-dashboard-thumb.png" alt=""></a>
						<p>We know every council is different, so FixMyStreet has a customisable front-end to match your website and reporting requirements. It includes a highly mature, extremely user-friendly user interface which users love, an online map of issues (to prevent duplicate reports) and a reporting dashboard.</p>
					</li><li>
						<h4>Mobile</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>Mobile is a great way to report issues on-the- go. FixMyStreet has been offering apps since 2008, and we’re happy to produce council specific versions. For users who don’t want Android or iPhone apps, we can make your web version of FixMyStreet work in almost any mobile web browser, ensuring that almost anyone with a phone can access the site.</p>
					</li><li>
						<h4>Back Office Integration:</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website. We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li><li>
						<h4>Back Office Integration:</h4>
						<a href="../img/fms/TEMP-fms-dashboard.png"><img src="../img/fms/TEMP-fms-dashboard-thumb.png" alt=""></a>
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website. We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li></ul>
				
			</section>
			
			
			<section class="product-options-pricing">
				
				<h3>Pricing: <em>Our charges are all-inclusive, with no hidden extras</em></h3>
				
				<ul><li>
						<h4>FixMyStreet Web <em>&nbsp;</em></h4>
						<p>First year: <strong>&pound;3,500</strong> then &pound;2,000 p.a.</p>
						<p>A branded FixMyStreet instance on your site.</p>
					</li><li>
						<h4>FixMyStreet Web <em>+ Mobile&nbsp;Site</em></h4>
						<p>First year: <strong>&pound;5,500</strong> then &pound;3,000 p.a.</p>
						<p>A branded FixMyStreet instance on your site plus a mobile optimised version of the website.</p>
					</li><li>
						<h4>FixMyStreet Web <em>+ Mobile&nbsp;Site and Apps</em></h4>
						<p>First year: <strong>&pound;9,500</strong> then &pound;4,000 p.a.</p>
						<p>A branded FixMyStreet instance on your site plus a mobile optimised version of the website and mobile apps for iOS and Android.</p>
					</li></ul>
				
				<h3>Extras:￼ <em>Integration Options</em></h3>
				
				<ul class="product-options-pricing-extras">
					<li>
						+ <h4>Integration with Microsoft, Oracle, Lagan CRM systems<em class="footnote">*</em></h4>
						<p><strong>First year: &pound;5,500</strong> then &pound;2,000 p.a.</p>
					</li>

					<li>
						+ <h4>Integration with other CRMs and fault management systems</h4>
						<p><strong>First year: &pound;6,500</strong> then &pound;2,500 p.a.</p>
					</li>

				</ul>
				<p><em><em class="footnote">*</em> Prices assume integration of standard complexity; very complex or non-standard integrations may cost more.</em></p>
				
			</section>
			
			<div class="action">
				<p><a href="#">If you would like our developers to cook you up something bespoke <strong>get in-touch</strong>.</a></p>
			</div>
			
			<section class="product-options-casestudy">
				<h3>Case Studies: <em>Our charges are all-inclusive, with no hidden extras</em></h3>
				<ul><li>
						<h4>Case Study: Barnet Council</h4>
						<a href="#"><img src="http://placehold.it/460x195" alt=""></a>
						<p>Read about how Barnet used the FixMyStreet system to streamline their public issue reporting, and  direct integration with their CRM.</p>
						<p><a class="btn" href="#">Download Case Study</a></p>
					</li><li>
						<h4>Case Study: Barnet Council</h4>
						<a href="#"><img src="http://placehold.it/460x195" alt=""></a>
						<p>Read about how Barnet used the FixMyStreet system to streamline their public issue reporting, and  direct integration with their CRM.</p>
						<p><a class="btn" href="#">Download Case Study</a></p>
					</li>
				</ul>
			</section>
			
		</article>
		
		
		
		
	</div>
	
	<footer id="footer">
		<section>

			<nav id="footer_links">
				<ul>
					<li><a class="logo" href="#">mySociety</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">jobs</a></li>
				</ul>
			</nav>

			<div id="footer_blurb">
				<p>We build websites that give the public simple, tangible ways to connect with and improve their society. As well as offering tools directly to the public we provide integration and development services for local authorities, corporates and government. As a UK Charity our own work has a national focus but our vision is global,  we open source our projects and encourage international adaptation.</p>
			</div>

		</section>
	</footer>
	
	
	<script src="../js/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.hoverintent.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../js/FancyZoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/FancyZoomHTML.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">$(document).ready(function() {
		setupZoom();
	});
	</script>
	
</body>
</html>