<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-gb"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en-gb"><![endif]--><!--[if gt IE 8]>
<!-- --><html lang="en-gb" class="no-js"><![endif]-->
<head>
	<meta charset="UTF-8">
<!--
	  -------------------------------------
	  mySociety (http://www.mysociety.org/)
	  -------------------------------------
-->
	<meta name="creator" content="http://www.mysociety.org/">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="description" content="mySociety, A social enterprise that makes people powerful by building tools for the public, government, councils and organisations.">
	
	<title>Example Linked List</title>
	
	<link rel="stylesheet" href="../style.css" type="text/css" media="screen, print" charset="utf-8">
	<link rel="stylesheet" href="../print.css" type="text/css" media="print" charset="utf-8">
	  
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<script src="../js/libs/modernizr-2.5.3.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://use.typekit.com/bth0qpr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="mysociety-org" class="productpage">
	
	<header class="header">
		<h1 class="logo"><a href="/">mySociety</a></h1>
	</header>
	
	<div id="content">
		
		<article class="products">
			
			<section class="section-links">
				<h3>Linked list</h3>
				<ul class="linked_list">
					<li><a class="link-facebook" href="#">Like this? Like us on <strong>Facebook</strong></a></li>
					<li><a class="link-blog" href="#">Keep up to date, <strong>read our blog</strong></a></li>
					<li><a class="link-github" href="#">Download, fork, edit and contribute <strong>on Github</strong></a></li>
					<li><a class="link-wiki" href="#">Everything a developer needs, <strong>read the wiki</strong></a></li>
					<li><a class="link-faq" href="#">Read answers to common questions in the <strong>FAQ</strong></a></li>
					<li><a class="link-docs" href="#">Everything a developer needs, <strong>read the docs</strong></a></li>
					<li><a class="link-irc" href="#">Talk to us on <strong>IRC</strong></a></li>
				</ul>
			</section>
			
			
			
			
			
			<section class="section-features">
				<h3>Linked list within a feature block</h3>
				<ul class="three_up">
					<li>
						<h4>Feature one</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</li>
					<li>
						<h4>Feature two</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</li>
					<li>
						<h4>Feature three</h4>
						<ul class="linked_list">
							<li><a class="link-facebook" href="#">Like this? Like us on <strong>Facebook</strong></a></li>
							<li><a class="link-blog" href="#">Keep up to date, <strong>read our blog</strong></a></li>
							<li><a class="link-github" href="#">Download, fork, edit and contribute <strong>on Github</strong></a></li>
							<li><a class="link-wiki" href="#">Everything a developer needs, <strong>read the wiki</strong></a></li>
							<li><a class="link-faq" href="#">Read answers to common questions in the <strong>FAQ</strong></a></li>
							<li><a class="link-docs" href="#">Everything a developer needs, <strong>read the docs</strong></a></li>
							<li><a class="link-irc" href="#">Talk to us on <strong>IRC</strong></a></li>
						</ul>
					</li>
				</ul>
			</section>
			
			
			
			
			
			
		</article>
		
		
		
		
	</div>
	
	<footer class="footer">
		<section>

			<nav id="footer_links">
				<ul>
					<li><a class="logo" href="#">mySociety</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">jobs</a></li>
				</ul>
			</nav>

			<div id="footer_blurb">
				<p>We build websites that give the public simple, tangible ways to connect with and improve their society. As well as offering tools directly to the public we provide integration and development services for local authorities, corporates and government. As a UK Charity our own work has a national focus but our vision is global,  we open source our projects and encourage international adaptation.</p>
			</div>

		</section>
	</footer>
	
	
	<script src="../js/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.hoverintent.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../js/FancyZoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/FancyZoomHTML.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">$(document).ready(function() {
		setupZoom();
	});
	</script>
	
</body>
</html>