<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-gb"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en-gb"><![endif]--><!--[if gt IE 8]>
<!-- --><html lang="en-gb" class="no-js"><![endif]-->
<head>
	<meta charset="UTF-8">
<!--
	  -------------------------------------
	  mySociety (http://www.mysociety.org/)
	  -------------------------------------
-->
	<meta name="creator" content="http://www.mysociety.org/">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="description" content="mySociety, A social enterprise that makes people powerful by building tools for the public, government, councils and organisations.">
	
	<title>Example Section Features</title>
	
	<link rel="stylesheet" href="../style.css" type="text/css" media="screen, print" charset="utf-8">
	<link rel="stylesheet" href="../print.css" type="text/css" media="print" charset="utf-8">
	  
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<script src="../js/libs/modernizr-2.5.3.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://use.typekit.com/bth0qpr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="mysociety-org" class="productpage">
	
	<header class="header">
		<h1 class="logo"><a href="homepage.html">mySociety</a></h1>
	</header>
	
	<div id="content">
		
		<article class="products">
			
			
			<section class="section-features">
				<ul class="two_up">
					<li>
						<h4>Section Features Block:</h4>
						<p>These are blocks to break up masses of text into digestible scannable chunks, if possible and if it makes sense these should be used in preference to the article block. They can optionally include images. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</li>
					<li>
						<h4>Mobile</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>Mobile is a great way to report issues on-the- go. FixMyStreet has been offering apps since 2008, and we’re happy to produce council specific versions. For users who don’t want Android or iPhone apps, we can make your web version of FixMyStreet work in almost any mobile web browser, ensuring that almost anyone with a phone can access the site.</p>
					</li>
					<li>
						<h4>Back Office Integration:</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website. We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li>
					<li>
						<h4>Back Office Integration:</h4>
						<a href="../img/fms/TEMP-fms-dashboard.png"><img src="../img/fms/TEMP-fms-dashboard-thumb.png" alt=""></a>
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website. We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li>
				</ul>
			</section>
			
			
			<section class="section-features">
				<ul class="three_up">
					<li>
						<h4>Core Features:</h4>
						<a href="../img/fms/TEMP-fms-dashboard.png"><img src="../img/fms/TEMP-fms-dashboard-thumb.png" alt=""></a>
						<p>We know every council is different, so FixMyStreet has a customisable front-end to match your website and reporting requirements. It includes a highly mature, extremely user-friendly user interface which users love, an online map of issues (to prevent duplicate reports) and a reporting dashboard.</p>
					</li>
					<li>
						<h4>Mobile</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>Mobile is a great way to report issues on-the- go. FixMyStreet has been offering apps since 2008, and we’re happy to produce council specific versions. For users who don’t want Android or iPhone apps, we can make your web version of FixMyStreet work in almost any mobile web browser, ensuring that almost anyone with a phone can access the site.</p>
					</li>
					<li>
						<h4>Back Office Integration:</h4>
						<a href="../img/fms/fms-iphone.png"><img src="../img/fms/fms-iphone-thumb.png" alt=""></a>
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website. We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li>
				</ul>
			</section>
			
			<section class="section-features">
				<ul class="four_up">
					<li>
						<h4>Core Features:</h4>
						<img src="http://placekitten.com/221/120" alt="">
						<p>We know every council is different, so FixMyStreet has a customisable front-end to match your website and reporting requirements.</p>
					</li>
					<li>
						<h4>Mobile</h4>
						<img src="http://placekitten.com/220/120" alt="">
						<p>Mobile is a great way to report issues on-the- go. FixMyStreet has been offering apps since 2008, and we’re happy to produce council specific versions.</p>
					</li>
					<li>
						<h4>Back Office Integration:</h4>
						<img src="http://placekitten.com/222/120" alt="">
						<p>We can also link the FixMyStreet cloud service directly to your CRM or problem-handling back-office system, enabling automatic two-way updates to your website.</p>
					</li>
					<li>
						<h4>Back Office Integration:</h4>
						<img src="http://placekitten.com/223/120" alt="">
						<p>We support direct integration as well as using the open protocol Open311. If you are looking to set up your own Open311 server we can help you with that, too.</p>
					</li>
				</ul>
			</section>
			
			
		</article>
		
		
		
		
	</div>
	
	<footer class="footer">
		<section>

			<nav id="footer_links">
				<ul>
					<li><a class="logo" href="#">mySociety</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">jobs</a></li>
				</ul>
			</nav>

			<div id="footer_blurb">
				<p>We build websites that give the public simple, tangible ways to connect with and improve their society. As well as offering tools directly to the public we provide integration and development services for local authorities, corporates and government. As a UK Charity our own work has a national focus but our vision is global,  we open source our projects and encourage international adaptation.</p>
			</div>

		</section>
	</footer>
	
	
	<script src="../js/libs/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.hoverintent.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/libs/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../js/FancyZoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/FancyZoomHTML.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">$(document).ready(function() {
		setupZoom();
	});
	</script>
	
</body>
</html>