
/mysocietyorg/conf/general
/mysocietyorg/conf/general.deployed
/mysocietyorg/conf/wikiconfig.py
/mysocietyorg/conf/wikiconfig.py.deployed
/mysocietyorg/web/down.html
/mysocietyorg/web/cvs
/mysocietyorg/web/.htaccess
/mysocietyorg/web/wp

/ukcod/conf/general
/ukcod/conf/general.deployed
/ukcod/web/down.html
/ukcod/web/images/f
/ukcod/web/images/thumb
/ukcod/web/images/archive

/cee/conf/general
/cee/conf/general.deployed
/cee/web/down.html
/cee/web/wp
/cee/web/cfp

/secure/conf/general
/secure/conf/general.deployed
/secure/web/down.html
/secure/web/nonsecure
