$ms-red:           #ec1b23;
$ms-orange:     #f6921d;
$ms-yellow:      #fbc70a;
$ms-green:       #8bc53e;
$ms-blue:         #28aae1;
$ms-purple:      #652c90;
$ms-violet:        #92268e;

$blocklink-opacity: 0.7;
$blocklink-offset: 3;

.special.head {
	border-top: 3px solid #424242;
}

.menu-link {
	display: none;
	margin: 10px 0;
	font-size: 14px;
}

.menu-link a {
	color: #404040;
	text-decoration: none;
	text-transform: uppercase;
}

.special.head nav {
	text-align: right;
	list-style: none;
}

.special.head nav li {
	display: inline-block;
	margin: 15px 20px 0 20px;
	font-size: 14px;
}

.special.head nav li a {
	color: #4D4D4D;
	text-decoration: none;
}

.ms-tab {
	float: right;
	background: #424242;
	margin: -3px 0 0 40px;
	padding: 10px 15px 3px 15px;
	border-radius: 0 0 15px 15px;
}

.special.strapline {
	padding: 20px 0;
}

.special.strapline p {
	@include font-size($larger);
	text-align: center;
	margin: 0 10px;
}

.special.strapline a {
	text-decoration: underline;
	font-family: $font-family-bold;
}

.special.image-banner {
	height: 230px;
	overflow: hidden;
}

.special.image-banner .strapline {
	@include font-size(34px);
	font-family: $font-family-bold;
}

.special.image-banner p {
	@include font-size(24px);
	margin: 5px 0;
	line-height: 1.2em;
}

.special.itemlist p.lead {
	min-height: 80px;
	@include font-size($med);
}

.special.itemlist li {
	clear: both;
}

.special.itemlist h3 {
    margin-top: 25px;
}

.special.itemlist p {
	margin: 0;
	@include font-size($norm);
}

.special.itemlist h4 {
    padding-top: 16px;
    @include font-size($med);
}

.special.itemlist h4 a {
	color: #404040;
}

.special.itemlist h4 a:hover {
	color: #404040;
}

.special.itemlist .product-icon {
	float: left;
}

.special.cta {
	padding: 20px 0;
}

.special.cta p {
	@include font-size($larger);
	font-family: $font-family-semibold;
	text-align: center;
	margin: 0 10px;
}

.special.cta p.action {
	color: #000;
}

.special.footer {
    margin: 40px 0;
}

.special.footer p {
    @include font-size($small);
}

.special.footer li {
    display: inline-block;
    margin-right: 20px;
    @include font-size($small);
}

.only-on-mobile {
    display: none;
}

@include respond(all-phones) {

	.ms-tab {
		margin-top: -12px;
	}

	.menu-link {
		display: block;
	}

	.special.head nav {
		text-align: left;
		clear: both;
		display: none;
		margin-top: 20px;
	}

	.special.head nav li {
		display: block;
		margin: 15px 0;
	}
	
	.special.strapline p {
		@include font-size($larger);
	}
	
	.special.itemlist p.lead {
		min-height: inherit;
	}
	
	.special.cta p {
		@include font-size($med);
	}

    .not-on-mobile {
        display: none;
    }

    .only-on-mobile {
        display: inherit;
    }

}