/*
	Header.scss
	---------
	Styles for the main page header.
	
*/

.header{
	@include grid-fullpage;
	background-color: $colour-background-dark;
	padding: 2em 0;
}

.header{
	background-color: $colour-background-lighter;
	max-width:100%;
	width: 100%;
	margin: 0;
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #ddd;
	
	.logo{
		display:inline;
		a{
			display:block;
			float: left;
			height: 1em;
			width:5em;
			background: transparent url(img/logos/logo.png) no-repeat scroll center left;
			background-size: auto 1em;
			
			@include text_ir;
		}
	}
	
	.home-link{
		float: right;
		margin-bottom: -2em;
		margin-right: $gutter;
		opacity: 0.2;
		&:hover{
			opacity: 0.8;
		}
	}
	
	.oneliner{
		//color: rgba(0,0,0,0.6);
		//font-family: 'Myriad Pro Semibold', 'MyriadPro-Semibold', sans-serif;
		//padding: 1.5em 0;
		//margin-top: 2em;
		//border-top: #ddd 1px solid;
		//border-bottom: #ddd 1px solid;
		color: #757575;
		color: rgba(0,0,0,0.6);
		padding: 0.75em 0;
		font-size: 2em;
		margin-top: 1em;
		//border-top: #ddd 1px solid;
		//border-bottom: #ddd 1px solid;
	}
}

body.homepage .header{
	
	//min-width:60em;
	width: 100%;
	
	text-align: center;
	padding: 0;
	margin: 1em auto 0 auto;
	border:none;
	
	@media (min-width : 60em) {
		margin: 1em auto 1em auto;
		padding: 2em 0 0 0;
	}
	
	.logo{
		display:inline;
		margin: 0;
		a{
			display:block;
			background: transparent url(img/logos/logo-large.png) no-repeat scroll center center;
			background-size: auto 100%;
			width:100%;
			float: none;
			margin: 0;
			
			// Text IR
			text-indent: 100%;
			white-space: nowrap;  
			overflow: hidden;
			
			height: 1em;
			
			@media (min-width : 30em) {
				height: 1.75em;
			}
			
			@media  (min-width : 60em) {
				height: 2.4375em;
			}
		}
	}
	
	.oneliner{
		color: #757575;
		color: rgba(0,0,0,0.4);
		padding: 0.5em 0;
		font-size: 1em;
		margin-top: 0;
		font-weight: 600;
		border-bottom: 2px solid #ccc;
		
		
		@media (min-width : 30em) {
			font-size: 2em;
			border: none;
		}
		
		@media (min-width : 60em) {
			font-size: 3em;
		}
		a{
			color: #757575;
			color: rgba(0,0,0,0.4);
		}
		
	}
}