.product-options-casestudy{
	@include grid-container;
	h3{
		
		font-size:2em;
		margin-bottom:0;
		
		em{
			font-size: 0.65em;
			color: #999;
			font-style: normal;
			font-weight: 600;
			padding-left: 0.5em;
		}
	}
	h4{
		font-size: 1.5em;
		margin-bottom: ($gutter/3);
	}
	ul{
		@include reset-list;
	}
	img{
		max-width:100%;
		float:right;
		padding-bottom: 0.625em;
		padding-right: 1.25em;
	}
	&>ul>li{
		@include grid-1-of-2;
	}
}