article.error{
	padding: 2em 0;
}
header.error{
	@extend header.section_intro;
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 2em auto;
	@include border-radius(1em);
	
	.images{
		float: right;
		width: 200px;
	}
}