.section-features{
	@extend .section-options;
	h3{
		font-size: 2em;
		margin: 0 $gutter/4 1em $gutter/4;
	}
	h4{
		font-size: 1.5em;
		margin: 0;
	}	
	img{
		float: right;
		max-width: 50%;
		margin-left: $gutter/2;
	}
	
	&>ul.three_up img{
		float: left;
		margin-right: $gutter/2;
		margin-left: 0;	
	}
	&>ul.four_up img{
		display: block;
		float: none;
		max-width: 100%;
		margin: auto;
	}
}