.section-options{
	@include grid-container;
	margin-bottom: $gutter*2;
	
	ul{
		@include reset-list;
		display: block;
		width: 100%;
		float: left;
		clear: both;
		
		&.two_up li{
			@include grid-1-of-2;
			.btn{width: 100%;}
		}
		&.three_up li{
			@include grid-1-of-3;
		}
		&.four_up li{
			@include grid-1-of-4;
			.btn{
				font-size: 0.7em;
			}
		}
		
		li{
			display: block;
			float: left;
			//padding: $gutter/2;
		}
	}
}