.slider{
    
    @include reset-list;
    li{
        padding: 1em;
    }
    img {
        max-width: 100%;
        height: auto;
        @include box_shadow(0, $gutter/2, $gutter, 0, rgba(0,0,0,0.5));
    }
}

#screenShade{
    background-color: rgba(255,255,255,0.5);
    //background: rgba(255,255,255,0.5) url('img/screen.png') repeat scroll top left;
}
