.q_and_a{
    @extend .article;
    
    p{
        max-width: 40em;
    }
    
    dt{
        display: block;
        padding-top: $gutter;
        border-top: #ccc 1px solid;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    .contents{
        padding-bottom: $gutter * 2;
        font-size: 1em;
    }
    
    a.back-to-top{
        
        opacity: 0.6;
        
        &:hover{
            opacity: 1;
            text-decoration: none;
        }
    
    }
}