.container {
  margin: 0 auto;
  padding: 0;
  width: 60em;
}

.wrapper {
  display: table;
  caption-side: top;
  width: 100%;
}
.wrapper .table-cell {
  display: table-cell;
}

#nav-wrapper {
  display: table-caption;
}
