$ms-red:           #ec1b23;
$ms-orange:     #f6921d;
$ms-yellow:      #fbc70a;
$ms-green:       #8bc53e;
$ms-blue:         #28aae1;
$ms-purple:      #652c90;
$ms-violet:        #92268e;

$blocklink-opacity: 0.7;
$blocklink-offset: 3;

.special.head {
    height:130px;
}

.special.head nav {
    text-align: right;
    line-height: 130px;
    text-transform: uppercase;
}

.special.head nav li {
    display: inline-block;
    margin: 0 15px;
}

.special.gridded {
    background: url(../img/pattern-square.gif);
}

.special.footer {
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}

.special.footer p {
    @include font-size($small);
}

.special.footer li {
    display: inline-block;
    margin: 0 20px;
    @include font-size($small);
}

.lead-strapline {
    @include font-size($large);
    text-align: center;
    margin: 25px 0;
}

.blocklink {
    font-family: $blocklink-font-family;
    position: relative;
    z-index: 0;
    @include font-size($large);
    padding: 20px 12px;
    margin: 6px;
}

.blocklink a {
    color: #FFF;
}

.blocklink-top {
    width: 100%;
    height: 100%;
    opacity: $blocklink-opacity;
    filter:alpha(opacity=#{$blocklink-opacity * 100});
    position: absolute;
    z-index: -1;
    top: -#{$blocklink-offset}px;
    right: -#{$blocklink-offset}px;
    left: #{$blocklink-offset}px;
    bottom: #{$blocklink-offset}px;
}

.blocklink-bottom {
    width: 100%;
    height: 100%;
    opacity: $blocklink-opacity;
    filter:alpha(opacity=#{$blocklink-opacity * 100});
    position: absolute;
    z-index: -2;
    top: #{$blocklink-offset}px;
    right: #{$blocklink-offset}px;
    left: -#{$blocklink-offset}px;
    bottom: -#{$blocklink-offset}px;
}

.blocklink-red {
    background: $ms-red;
}

.blocklink-orange {
    background: $ms-orange;
}

.blocklink-yellow {
    background: $ms-yellow;
}

.blocklink-green {
    background: $ms-green;
}

.blocklink-blue {
    background: $ms-blue;
}

.blocklink-purple {
    background: $ms-purple;
}

.blocklink-violet {
    background: $ms-violet;
}

.product {
    text-align: center;
    margin-bottom: 30px;
}

.product .home-img {
    height: 300px;
}

.product .blocklink {
    margin-bottom: 40px;
}

.greylinks a {
    color: #888888;
    &:hover {
        color: #555555;
    }
}

.only-on-mobile {
    display: none;
}

.menu-toggle {
    color: #BCBCBC;
    float: left;
    &:hover {
        color: #BCBCBC;
    }
    font-size: 38px;
    line-height:41px;
}

@include respond(all-phones) {

    .hide-on-mobile {
        display: none;
    }

    .only-on-mobile {
        display: inherit;
    }

    .special.head {
        height: inherit;
    }

    h1 {
        text-align: center;
        line-height:41px;
    }

    .main-nav {
        width: 250px;
        background: #333333;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        z-index: 1;
        font-family: $blocklink-font-family;
        @include font-size($large);
    }

    .special.head nav li {
        display: block;
        margin: 0;
        padding: 25px;
        line-height: 1.2em;
        border-bottom: 1px solid #404040;
    }

    .special.head nav li a {
        color: #FFFFFF;
    }

}