/* Fonts */

// Import Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800&subsets=latin-ext,latin);

// Set local icon font
@font-face {
	font-family: "#{$icons}";
	font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
	src: url("../fonts/icons/#{$icons}.eot?#iefix") format("ie9-skip-eot"),
			 url("../fonts/icons/#{$icons}.woff") format("woff"),
			 url("../fonts/icons/#{$icons}.ttf")  format("truetype");
}

@font-face {
	font-family: "#{$blocklink-font-family}";
	font-style: normal;
  font-weight: 400;
  src: url(../fonts/bebas-neue/#{$blocklink-font-family}.eot);
	src: url("../fonts/bebas-neue/#{$blocklink-font-family}.eot?#iefix") format("ie9-skip-eot"),
			 url("../fonts/bebas-neue/#{$blocklink-font-family}.woff") format("woff"),
			 url("../fonts/bebas-neue/#{$blocklink-font-family}.ttf")  format("truetype");
}
