#header{
	
	max-width:100%;
	width: 100%;
	margin: 0;
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #ddd;
	
	.logo{
		display:inline;
		a{
			display:block;
			height: 1em;
			width:8em;
			background: transparent url(img/logo.png) no-repeat scroll center left;
			background-size: auto 1em;
			
			// Text IR
			text-indent: 100%;
			white-space: nowrap;  
			overflow: hidden;
		}
	}
	
	.oneliner{
		color: rgba(0,0,0,0.6);
		font-family: 'Myriad Pro Semibold', 'MyriadPro-Semibold', sans-serif;
		padding: 1.5em 0;
		margin-top: 2em;
		border-top: #ddd 1px solid;
		border-bottom: #ddd 1px solid;
	}
}
body.homepage #header{
	
	max-width:100%;
	width: 60em;
	margin: 2em auto 3em auto;
	text-align: center;
	padding: 2em 0 0 0;
	border:none;
	
	.logo{
		display:inline;
		a{
			display:block;
			height: 1.875em;
			background: transparent url(img/logo.png) no-repeat scroll center center;
			background-size: auto 100%;
			width:100%;
			// Text IR
			text-indent: 100%;
			white-space: nowrap;  
			overflow: hidden;
		}
	}
	
	.oneliner{
		color: rgba(0,0,0,0.6);
		font-family: 'Myriad Pro Semibold', 'MyriadPro-Semibold', sans-serif;
		padding: 1.5em 0;
		margin-top: 2em;
		border-top: #ddd 1px solid;
		border-bottom: #ddd 1px solid;
	}
}



#content{
	
	section{
		clear:both;
	}
	
	#about-mysociety{
		border-top: #ddd 1px solid;
		max-width:100%;
		width: 60em;
		margin: 0 auto;
		padding: 0 5em;
		
		nav{
			width: 13.75em;
			float:right;
			padding: 0 0.625em;
			color: #808080;
			
			ul{
				padding: 0;
				margin-top: 0;
			}
		}
		
		h2{
			font-size: 2.25em;
			font-weight: normal;
			color: #4D4D4D;
			padding: 0 0.2778em;
		}
		
		h3{
			font-size: 2.25em;
			font-weight: normal;
			color: #4D4D4D;
			padding: 0 0.2778em;
		}
		
		p{
			width: 28.75em;
			color: #808080;
			padding: 0 0.625em;
		}
		
	}
	
	#products{

		max-width:100%;
		width: 60em;
		margin: 0 auto;
		padding-bottom: 5em;

		&>h2{
			display:none;
		}

		.product-filters{
			padding:0;
			padding-bottom: 1.5em;
			margin:0;
			margin-bottom: 1.5em;
			text-indent:0;
			list-style:none;
			float:left;
			border-bottom: #ddd 1px solid;
			
			li{
				display:inline;
			}
			a, a > strong{
				-webkit-transition: color 0.5s ease-in;
				   -moz-transition: color 0.5s ease-in;
				     -o-transition: color 0.5s ease-in;
				        transition: color 0.5s ease-in;
			}
			a{
				display:block;
				padding: 0.625em;
				width:25%;
				float:left;
				color: #808080;
				
				strong{
					display:block;
					color: #4D4D4D;
					font-size:1.5em;
					font-weight: normal;
					margin-bottom: 0.5em;
				}
			}
			
			&:hover li a,
			&.filtered li
			{
				color:rgba(128,128,128,0.5);
				strong{
					color:rgba(77,77,77,0.5);
				}
			}
			&.filtered li a
			{
				color:rgba(128,128,128,0.3);
				strong{
					color:rgba(77,77,77,0.3);
				}
			}
			
			&:hover li a:hover{
				color:rgba(128,128,128,1);
				text-decoration:none;
				strong{
					color:rgba(77,77,77,1);
				}
			}
			&.filtered li a.selected{
				color:rgba(128,128,128,1);
				
//				&.for_orgs strong { color:#29ABE2; }
//				&.for_public strong { color:#ED1C24; }
//				&.for_volunteers strong { color:#F7931E; }
//				&.for_international strong { color: #dec600; }
				
				strong{
					color:rgba(77,77,77,1);
				}
			}
		}
		
		.product-list{
			clear:both;
			padding:0;
			margin:0;
			text-indent:0;
			list-style:none;
			color: #808080;
			
			a{
				color: #4D4D4D;
				&:hover{ text-decoration:none; }
				&.for_orgs:hover{ color:#29ABE2; }
				&.for_public:hover{ color:#ED1C24; }
				&.for_volunteers:hover{ color:#F7931E; }
				&.for_international:hover{ color: #dec600; }
			}
			
			
			li{
				display:block;
				padding: 0.625em 0.625em 0.625em 5.625em;
				width:20em;
				float:left;
				margin:0;
				min-height: 7.5em;
				background: transparent url(img/blankcircle.png) no-repeat scroll top left;
				
				h3{
					margin:0;
					font-weight:normal;
				}
				p{
					margin:0;
					font-size: 0.75em;
					line-height: 2;
				}
				
			}
			li.blur,
			&.for_orgs li
			{
				opacity: 0.3;
			}
			
			&.for_orgs li.for_orgs,
			&.for_public li.for_public,
			&.for_volunteers li.for_volunteers,
			&.for_international li.for_international
			{
				opacity: 1;
			}
			
			li.fms{ background-image: url(img/fms.png); }
			li.fmt{ background-image: url(img/fmt.png); }
			li.twfy{ background-image: url(img/twfy.png); }
			li.afoi{ background-image: url(img/afoi.png); }
			li.mapumental{ background-image: url(img/mapumental.png); }
		}
	}
	.product{
		
		header,
		section{
			max-width:100%;
			width: 60em;
			margin: 0 auto;
			padding-bottom: 2em;
		}
		
		header{
			
			padding: 2em 0;
			
			.screenshots{
				display: block;
				width: 28.75em;
				float: left;
				list-style: none;
				margin: 0;
				padding: 0;
				
				img{
					max-width: 100%;
				}
			}
			p,
			hgroup
			{
				width: 28.75em;
				float:right;
				clear:right;
			}
			p{padding-bottom: 4em;}
			hgroup{

				
				h2{
					font-size: 2.25em;
					margin: 0;
					padding:0;
					color: #4D4D4D;

					strong{
						font-size: 1.3333em;
					}
				}
				h3{
					font-size: 1.5em;
					font-weight: normal;
					color: #B3B3B3;
					margin: 0;
					padding:0;
					line-height: 1;
				}
			}
		}
		
		.action{
			width: 100%;
			clear: both;
			font-size: 1.25em;
			text-align: center;
			padding: 0.75em 0;
			background-color:#ddd;
			margin: 1em 0;
			
			a{
				color: #666;
			}
			
			a:hover{
				text-decoration: none;
			}
			
			strong{
				text-decoration: underline;
				color: #444;
			}
			
			
		}
		
		.product-options,
		.product-options-pricing,
		.product-options-features
		{
			h3{
				em{
					font-size: 0.65em;
					color: #999;
					font-style: normal;
					font-weight: normal;
					padding-left: 0.5em;
				}
			}
			
			&>ul{
				display:block;
				list-style:none;
				padding:0;
				max-width:100%;
				width: 60em;
				margin: 0 auto;
				vertical-align: top;
			}
			
			&>ul>li{
				display: inline-block;
				vertical-align: top;
				width: 20em;
				padding: 0.625em;
				
				img{
					max-width:100%;
				}
			}
		}
		.product-options{
			&>ul>li{
				vertical-align:bottom;
			}
		}
		.product-options-pricing{
			&>ul.product-options-pricing-extras{
				li{
					display: block;
					width: 100%;
					padding: 0.625em;
					
					h4{
						display:inline;
					}
					p{
						display:inline;
						padding-left:2em;
					}
				}
			}
		}
		
		.product-options-features{
			img{
				max-width:100%;
				float:left;
				padding-bottom: 0.625em;
				padding-right: 1.25em;
			}
			&>ul>li{
				//width: 15em;
				width:30em;
			}
		}
		
		
	}
}
#footer{
	clear:both;
	background-color: #444;
	width: 100%;
	float:left;
	padding: 2em 0;
	
	section{
		max-width:100%;
		width: 60em;
		margin: 0 auto;
		padding-bottom: 2em;
	}
	
	#footer_links{
		width: 15em;
		float:left;
		
		a{
			color: #eee;
			&:hover{
				color: #fff;
			}
			
			&.logo{
				display:block;
				height: 3em;
				width: 150px;
				max-width:100%;
				background: transparent url(img/logo-inverse.png) no-repeat scroll center left;
				background-size: 100% auto;
				margin-left: -15%;
				
				// Text IR
				text-indent: 100%;
				white-space: nowrap;  
				overflow: hidden;
			}
		}	
	}
	
	#footer_blurb{
		display: block;
		width: 40em;
		margin-right: 5em;
		padding: 0.625em;
		float: right;
		color: #aaa;
		
		p{
			font-size: 0.8em;
		}
	}
}





